<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <header>
    <a href="/" class="logo">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
    </a>
  </header>

  <main>
    <div class="page-center">
    <section class="login-register-section">
      <h1>Sign In</h1>
        <form id="login-form" action="/login" method="POST">
            <input id="email" class="input" name="email" placeholder="Email" value="{{ request.form.get('email', '') }}">
            <p class="input-error-message">Email is required.</p>
            <input id="password" type="password" class="input" name="password" placeholder="Password">
            <p class="input-error-message">Password is required.</p>
            
            {% if error_message %}
                <p class="form-error">{{ error_message }}</p>
            {% endif %}

            <button type="submit" class="button">Sign In</button>
        </form>
      <p> Don't have an account? <a href="/register">Sign up now.</a></p>
    </section>
    </div>
  </main>

</body>
</html>

<script>
    const passwordInput = document.getElementById('password');
    const emailInput = document.getElementById('email');
    const form = document.getElementById('login-form');
    
    form.addEventListener('input', (event) => {
        const errorMessages = document.querySelectorAll('.form-error');
        errorMessages.forEach((msg) => {
            msg.style.display = 'none';
        });
        if (event.target === emailInput) {
            emailInput.classList.remove('error');
        }
        if (event.target === passwordInput) {
            passwordInput.classList.remove('error');
        }
    });

    form.addEventListener('submit', (event) => {
        const emailValid = !emptyField(emailInput);
        const passwordValid = !emptyField(passwordInput);
        const isValid = emailValid && passwordValid;
        
        // Remove form error messages
        const errorMessages = document.querySelectorAll('.form-error');
        errorMessages.forEach((msg) => {
            msg.style.display = 'none';
        });

        if (!isValid) {
            event.preventDefault(); // Stop form from submitting
        }
    });

    // Helpers
    function emptyField(input) {
        if (input.value.trim() === '') {
            input.classList.add('error');
            return true;
        } else {
            input.classList.remove('error');
            return false;
        }
    }
</script>